

@import url(https://fonts.google.com/specimen/Outfit);

body {
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h2 {
  color: hsl(218, 44%, 22%);
  text-align: center;
  line-height: 5px;
  
}

.paragraph {
    font-size: 15px;
    font-weight: 250;
    color: hsl(216, 15%, 48%);
    text-align: center;
    line-height: 5px;
    margin-top: 35px;
}


